# Postgres 
POSTGRES_USER=pzadmin
POSTGRES_PASSWORD=adminpz
POSTGRES_DB=pzdev

# If you're running native Linux and your uid:gid isn't 1000:1000 you can set
# these to match your values before you build your image. You can check what
# your uid:gid is by running `id` from your terminal.
# export USERID=1000       # uid
# export GROUPID=1000      # gid
# export USERNAME=pzapp    # container user

# Backend/Django
# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=1
LOGGING_LEVEL=DEBUG
# AUTORELOAD: Select 1 to enable auto reload and 0 to turn off. In production we must 
# disable it.
AUTORELOAD=1
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=Z-cVO6l8catnpijVIKXcwwaKeGJTzJ2hiItn3lw2a4M

# Database
DB_ENGINE=django.db.backends.postgresql
DB_USER=pzadmin
DB_PASSWORD=adminpz
DB_DATABASE=pzdev
DB_HOST=database
DB_PORT=5432

# CORS
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost http://127.0.0.1

# Frontend
# Client ID e Client Secret devem ser cadastradas no Django Admin
# Apos o Setup do backend, na interface Django Oauth Aplications
# DJANGO_OAUTH_CLIENT_ID=
# DJANGO_OAUTH_CLIENT_SECRET=

# Github OAuth
# To enable Github OAuth authentication, 
# uncomment and fill in the following variables.
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_ORG_NAME=linea-it

# Shibboleth / Satosa Auth
# Url para login utilizando Shibboleth
# AUTH_SHIB_URL=

# directory where it will contain the processing of the pipelines.
PROCESSING_DIR=/processes

# directory where it will contain the source code of the pipelines.
PIPELINES_DIR=/pipelines

# directory where it will contain the datasets.
DATASETS_DIR=/datasets